@import "tailwindcss";


@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@variant not-dark {
  &:not(:where(.dark, .dark *)) {
    @media not (prefers-color-scheme: dark) {
      @slot;
    }

    &:not(:where(.system, .system *)) {
      @slot;
    }
  }
}

:root {
  --text-primary: var(--color-black);
  --background: var(--color-white);
}

.dark {
  color-scheme: dark;
  --text-primary: var(--color-white);
  --background: var(--color-black);
}

body {
	@apply m-0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  /* Colors */
  --color-text: var(--text-primary);
  --color-background: var(--background);

  /* Animations */
  --fade-in-left-start-x: -50px;
  --animate-fade-in-left: fadeInLeft 1s forwards;
  
  --fade-in-right-start-x: 50px;
  --animate-fade-in-right: fadeInRight 1s forwards;

  --fade-in-bottom-start-y: 50px;
  --animate-fade-in-bottom: fadeInBottom 1s forwards;

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(var(--fade-in-left-start-x));
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(var(--fade-in-right-start-x));
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(var(--fade-in-bottom-start-y));
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }  
}

  @utility animation-delay-* {
	  animation-delay: calc(--value(integer) * 1ms);
  }